doctype html
html(lang="en")
    include includes/_head
    include includes/_body
        include components/_header
        main.main 
            //- home 
            section.home.section#home
                .home__container.container.grid
                    .home__content.grid 
                        .home__social 
                            a.home__social-icon(href="https://www.linkedin.com/" target='_blank') 
                                i.uil.uil-linkedin-alt
                            a.home__social-icon(href="https://www.instagram.com/helia.khatamnejad/" target='_blank') 
                                i.uil.uil-instagram
                            a.home__social-icon(href="https://github.com/itshelia" target='_blank') 
                                i.uil.uil-github-alt
                        .home__img 
                            svg.home__blob(viewBox='0 0 200 187' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                                mask#mask0(mask-type='alpha')
                                    path(d='M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 \
                                    130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 \
                                    97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 \
                                    0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z')
                                g(mask='url(#mask0)')
                                    path(d='M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 \
                                    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 \
                                    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 \
                                    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z')
                                    image.home__blob-img(href='assets/img/helia khatamnejad.png' x='15')
                        .home__data 
                            h1.home__title Hi I'm Helia
                            h3.home__subtitle FrontEnd developer 
                            p.home__description High level experience in web design and development knowledge, producing quality work.
                            a.button.button--flex(href="#contace") Contact Me
                                i.uil.uil-message.button__icon
                    .home__scroll
                        a.home__scroll-button.button--flex(href="#about") 
                            lord-icon.home__scroll-mouse(src='https://cdn.lordicon.com/wtfdpwey.json' trigger='loop' style='width:45px;height:45px' colors="primary:#6e57e0,secondary:#4f1091" stroke="35")
                            span.home__scroll-name Scroll down
        //- about
        section.section.about#about 
            h2.section__title About Me 
            span.section__subtitle  My introduction 
            .about__container.container.grid 
                img.about__img.img-fluid(src="assets/img/about2.jpg", alt="")
                .about__data
                    p.about__description Web developer, with extensive knowledge and years of experience, working in web technologies and Ui / Ux design, delivering quality work.
                    .about__info 
                        div 
                            span.about__info-title 08+
                            span.about__info-name Years <br> experience
                        div 
                            span.about__info-title 20+
                            span.about__info-name Completed <br> project
                        div 
                            span.about__info-title 05+
                            span.about__info-name Companies <br> worked
                    .about__buttons
                        a.button.button--flex(href="" download='') Download CV
                            i.uil.uil-download-alt.button__icon
        //- skills
        section.section.skills#skills 
            h2.section__title Skills 
            span.section__subtitle My technical level 
            .skills__container.container.grid 
                div 
                    .skills__content.skills__open
                        .skills__header 
                            i.uil.uil-brackets-curly.skills__icon 
                            div 
                                h1.skills__title FrontEnd developer 
                                span.skills__subtitle More than 4 years 
                            i.uil.uil-angle-down.skills__arrow 
                        .skills__list.grid 
                            .skills__data
                                .skills__titles 
                                    h3.skills__name HTML 
                                    span.skills__number 90% 
                                .skills__bar 
                                    span.skills__percentage.skills__html
                            .skills__data
                                .skills__titles 
                                    h3.skills__name CSS 
                                    span.skills__number 30% 
                                .skills__bar 
                                    span.skills__percentage.skills__css
                            .skills__data
                                .skills__titles 
                                    h3.skills__name JAVASCRIPT 
                                    span.skills__number 55% 
                                .skills__bar 
                                    span.skills__percentage.skills__js
                            .skills__data
                                .skills__titles
                                    h3.skills__name REACT 
                                    span.skills__number 70% 
                                .skills__bar 
                                    span.skills__percentage.skills__react
                    .skills__content.skills__close 
                        .skills__header 
                            i.uil.uil-server-network-alt.skills__icon 
                            div 
                                h1.skills__title BackEnd developer 
                                span.skills__subtitle More than 2 years 
                            i.uil.uil-angle-down.skills__arrow 
                        .skills__list.grid 
                            .skills__data
                                .skills__titles
                                    h3.skills__name PHP 
                                    span.skills__number 100% 
                                .skills__bar 
                                    span.skills__percentage.skills__php
                            .skills__data
                                .skills__titles 
                                    h3.skills__name Laravel 
                                    span.skills__number 90% 
                                .skills__bar 
                                    span.skills__percentage.skills__laravel
                            .skills__data
                                .skills__titles 
                                    h3.skills__name Graphql 
                                    span.skills__number 55% 
                                .skills__bar 
                                    span.skills__percentage.skills__graph
                            .skills__data
                                .skills__titles 
                                    h3.skills__name livewire 
                                    span.skills__number 60% 
                                .skills__bar 
                                    span.skills__percentage.skills__livewire
                div
                    .skills__content.skills__close 
                        .skills__header 
                            i.uil.uil-swatchbook.skills__icon 
                            div 
                                h1.skills__title Designer
                                span.skills__subtitle More than 10 years 
                            i.uil.uil-angle-down.skills__arrow 
                        .skills__list.grid 
                            .skills__data
                                .skills__titles 
                                    h3.skills__name Figma 
                                    span.skills__number 90% 
                                .skills__bar 
                                    span.skills__percentage.skills__figma
                            .skills__data
                                .skills__titles 
                                    h3.skills__name Sketch
                                    span.skills__number 20% 
                                .skills__bar 
                                    span.skills__percentage.skills__sketch
                            .skills__data
                                .skills__titles 
                                    h3.skills__name Photoshop 
                                    span.skills__number 55% 
                                .skills__bar 
                                    span.skills__percentage.skills__photoshop










    include includes/_scripts
